

<div class="layui-body">
    <div style="padding: 15px;">
<!--     	<strong><h3 id="stat_title"><%- cur_item_data[2] %>表格</h3></strong>
 -->    	<div id="main" style="height:400px"></div>
    </div>
</div>

<div class="layui-footer">
    © <a href="http://www.skynetlua.com">skynetlua</a> - 管理工具
</div>
<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
<!-- <script src="http://echarts.baidu.com/build/dist/echarts.js"></script> -->

<script type="text/javascript">
    function showdata(datas) {
        var myChart = echarts.init(document.getElementById('main'));
        var option = {
            title : {
                text: '访问次数统计'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['每30分钟连接次数','每30分钟访问IP数']
            },
            // calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : datas[0]
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'总次数',
                    type:'line',
                    smooth:true,
                    itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    data:datas[1]
                },
                {
                    name:'IP数',
                    type:'line',
                    smooth:true,
                    itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    data:datas[2]
                },
            ]
        };
        myChart.setOption(option);
    }

    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function(){
        if(xmlhttp.readyState == 4 && xmlhttp.status == 200){
            var retval = JSON.parse(xmlhttp.responseText)
            var src_data = retval.data;
            var datas = [[],[],[]];
            for (var i = 0; i < src_data.length; i++) {
                datas[0].push(src_data[i].time);
                datas[1].push(src_data[i].visit_times);
                datas[2].push(src_data[i].ip_count);
            }
            showdata(datas);
        }
    }
    xmlhttp.open("GET", '<%- api_path .. cur_item %>?token=<%- token %>',true);
    xmlhttp.send();

</script>
