thread = 8
harbor = 0
lua_cpath = "./luaclib/?.so;./skynet/luaclib/?.so"
cpath = "./skynet/cservice/?.so"

lualoader = "./skynet/lualib/loader.lua"
lua_path = "./lualib/?.lua;./skynet/lualib/?.lua;./skynet/lualib/?/init.lua"
luaservice = "./service/?.lua;./skynet/service/?.lua;"
preload = "./skynet/lualib/meiru/preload/__preload.lua"

servers = [[{
	{
		host = "0.0.0.0",
		service_num = 4,
		http_port = 8080, 
		http = "demo.web", --./lualib/demo/web.lua
		https_port = nil, 
		https = nil, 
		footprint = true,
		treeprint = true,
		domain = "127.0.0.1",
		certfile = nil,
		keyfile  = nil,
	}
}]]


start = "demo/main"  -- main script

debug = 1
