thread = 8
lua_cpath = "./luaclib/?.so;./skynet/luaclib/?.so"
cpath = "./skynet/cservice/?.so"

lualoader = "./skynet/lualib/loader.lua"
lua_path = "./lualib/?.lua;./skynet/lualib/?.lua;./skynet/lualib/?/init.lua"
luaservice = "./service/?.lua;./skynet/service/?.lua;"

start = "main"  -- main script

